@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    box-sizing: border-box;
    text-align: left;
}

html{
  font-family: 'Anton', sans-serif;
  text-transform: uppercase;
  font-size: 25px;
  background-color: black;
  color: white;
  scroll-behavior: smooth;
}

html,body {
  width: 100%;
  height: 100%;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.root {
  position: relative;
}

.experience{
  margin-top: 100%;
}

.experience h2{
  text-align: center;
}

.profil_photo{
  z-index: 1;
  width: 20%;
  margin-top: 15%;
  position: absolute;
  left: 40%;
}

.presentation h2{
  text-align: center;
  margin-top: 20%;
}

.contact{
  position: absolute;
  margin-top: 25%;
  margin-left: 20%;
}
.contact a{
  text-decoration: none;
  text-decoration: underline;
  color:white;
}

/*CardLayout*/
:root {
  --surface-color: #fff;
  --curve: 40;
}
.cards {
  display: grid;  
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
}

.card {
  position: relative;
  display: block;
  height: 100%;  
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}

.card__image {      
  width: 100%;
  height: auto;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;      
  border-radius: calc(var(--curve) * 1px);    
  background-color: var(--surface-color);      
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  height: 200px;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;    
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}


.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;      
  z-index: 1;
}

.card__arc path {
  fill: var(--surface-color);
}       

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;      
  border-radius: 50%;      
}

.card__title {
  font-size: 1em;
  margin: 0 0 .3em;
  color: #6A515E;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";  
  font-size: .8em; 
  color: #D7BDCA;  
}

.card__status {
  font-size: .8em;
  color: #D7BDCA;
}

.card__description {
  padding: 0 1em 1em;
  margin: 0;
  color: #D7BDCA;
  font-family: "MockFlowFont";   
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
}    

/*Wave*/
  .wave,
  .wave::before,
  .wave::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200vw;
    height: 200vw;
    margin-left: -125vw;
    transform-origin: 50% 50%;
    background-color: transparent;
    border-radius: 38% 42%;
    box-shadow: inset 0 0 10vw rgba(255,0,255,0.8);
    animation: spin 26s infinite linear;
    mix-blend-mode: multiply;
  }
  
  .wave::before {
    width: 105%;
    height: 95%;
    margin-top: -125vw;
    transform-origin: 49% 51%;
    border-radius: 40% 38%;
    box-shadow: inset 0 0 10vw rgba(255,255,0,0.8);
    animation: spin 24s infinite linear;
  }
  
  .wave::after {
    width: 102%;
    height: 98%;
    margin-top: -125vw;
    transform-origin: 51% 49%;
    border-radius: 48% 42%;
    box-shadow: inset 0 0 10vw rgba(0,255,255,0.8);
    animation: spin 20s infinite linear;
  }

  @keyframes spin {
    100% { transform: rotate(360deg); }
  }

/*ScrollBar*/
  .progress-container p{
    float:left;   
    display: block;
    margin-left:25%;
  }

  .progress-container {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    width: 100%;
    background-color: grey;
    opacity: 0.4;
  }

  .progress-bar {
    height: 8px;
    background: white;
    width: 0%;
  }

::-webkit-scrollbar {
  /* Internet Explorer 10+ / Firefox / Safari and Chrome */
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: none;
}

h1{
    font-size: 80px;
}

.profil{
    width: 100%;
}

.skill{
    height: 600px;
    width: 100%;
}

.light{
    mix-blend-mode: difference;
}

/*Cursor*/
.cursor {
    position: fixed;
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: white;
    pointer-events: none;
  }

.project h2{
  text-align: center;
}

/*Navigation Bar*/

.link {
  z-index: 1;
  margin-top: 50px;
  text-align: center;
}

.link a{
    text-decoration: none;
    color: white;
    margin: 20px;
}
a:hover{
    text-decoration: underline;
}

/*  Responsive  */
@media only screen and (max-width: 600px) {

  body,html{
    overflow-x: hidden;
  }

  .root{
    position: static;
  }

  .progress-container{
    display: none;
  }

  .profil_photo{
    width: 40%;
    margin-top: 0%;
    position: absolute;
    left: 30%;
  }

  .project h2{
  margin-top: 50%;
  }
  .presentation h2{
    text-align: center;
    margin-top: 30%;
  }  
  .contact{
    margin-bottom: 150px;
  }

    .cursor { 
        display: none;
    }
}

@media only screen and (max-height: 500px){
  body,html{
    overflow-x: hidden;
  }
  h2{
    font-size:larger;
  }
  .card{
   width: 90%;
  }
  .card__title{
    font-size: medium;
  }
  .contact{
    font-size: large;
  }
}

@media only screen and (max-width: 300px){
  body,html{
    overflow-x: hidden;
  }
  h2{
    font-size:larger;
  }
  .card{
   width: 80%;
  }
  .card__title{
    font-size: medium;
  }
  .contact{
    font-size: large;
  }
}